@inherits ProductCategoryBase

<MudDialog Style="width:90%;">
    <TitleContent>
        <MudText Class="h2">@((IsEditMode ? "Edit" : "Add")) Product Category</MudText>
        
    </TitleContent>
    <DialogContent>
        <MudForm @ref="form" Validated="HandleValidSubmit">
            <div class="mb-3">
                <label for="CategoryName" class="form-label">Category Name</label>
                <MudTextField @bind-Value="_CategoryName" Variant="Variant.Outlined" Placeholder="category name.."/>
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <MudTextField @bind-Value="_Description" Variant="Variant.Outlined" Lines="3" Placeholder="write description here.."/>
            </div>
            @if(IsEditMode && (!string.IsNullOrEmpty(_ApproveBy) && _StatusGet == (byte)11)){
                <div class="mb-3">
                    <label for="CategoryName" class="form-label">Status</label>
                    <MudSelect @bind-Value="_Status" T="byte" Variant="Variant.Outlined"> 
                        <MudSelectItem Value="@((byte)10)">Active</MudSelectItem>
                        <MudSelectItem Value="@((byte)11)">NonActive</MudSelectItem>
                    </MudSelect>
                </div>
            }
            <MudTextField @bind-Value="_ProductCategoryID" hidden/>
            <MudTextField @bind-Value="_ApproveBy" hidden/>
            <MudTextField @bind-Value="_ApproveDt" hidden/>
            @if(IsEditMode && string.IsNullOrEmpty(_ApproveBy) && _Status != 11)
            {
                <MudButton Class="mt-4" Variant="Variant.Filled" Color="Color.Success" @onclick="() => Submit(true)">
                    <MudIcon Icon="@Icons.Material.Outlined.ThumbUp"/> Approve
                </MudButton>
            }
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" onclick="() => Submit(false)">Save</MudButton>
    </DialogActions>
</MudDialog>
@code{}
